<div id="top" class="home">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Cryptography Project</h1>
        <p>A <a href="http://simplydo.com" target="new">Simply Do</a> Exploration.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" id="teasers">
    <div class="span4 large">
      <h2>Encrypt &amp; Decrypt</h2>
      <p>Encrypt &amp; Decrypt utilizes the Advanced Encryption Standard (AES). Since the <a href="https://github.com/SimplyDo/cryptography" target="new">source code is open</a> you can check for your self what happens with your data. No funny business! Guaranteed.</p>
      <p>Nothing ever leaves your local browser.</p>
      <p><a href="#/aes" class="btn btn-success btn-large">Encrypt and Decrypt <i class="icon-arrow-right icon-white"></i></a></p>
    </div>
    <div class="span4 large">
      <h2>Key Maker</h2>
      <p>Typical passwords are hard to remember yet easy to crack. Why not use a somewhat longer but easy to remember sequence of random words instead?</p>
      <p><a href="#/phrases" class="btn btn-success btn-large">Key Maker <i class="icon-arrow-right icon-white"></i></a></p>
    </div>
    <div class="span4 large">
      <h2>Memorize</h2>
      <p>It is easier than you think to quickly memorize word sequences with the <a href="http://en.wikipedia.org/wiki/Method_of_loci" target="new">Method of Loci</a> (aka Memory Palace).</p>
      <p><a href="http://www.youtube.com/watch?v=PIg73ppoVZw" target="new">Check out this video</a> or even better read <a href="http://www.amazon.com/gp/product/159420229X/ref=as_li_ss_tl?ie=UTF8&tag=cryptographyproject-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=159420229X">Moonwalking with Einstein</a> by Joshua Foer for a great introduction.</p>
    
    </div>
  </div>
</div>