<div id="top">
  <div class="container">
    <div class="row">
      <div class="span7">
        <h1>Like privacy?</h1>
        <p>Encrypt any text.</p>
      </div>
      <div class="span5">
        <p>Encrypt any text right in your browser. Nothing is sent to a server.</p>
        <p><a href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard" target="new">Learn more</a> about the Advanced Encryption Standard (AES) used.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

    
    <div class="span12">
      <p class="status {{status}}" ng-show="feedBack != ''">{{feedBack}}</p>
    </div>
    
    <div class="span12">
      <h2>Enter a custom key or <a ng-click="newPassPhrase();">generate random key</a></h2>
      <textarea class="input-xlarge" id="passPhrase" ng-model="passphrase" placeholder=""></textarea>
      <p class="note">The key is used to encrypt a text into a cypher and vice versa. Longer keys are better. See also: <a href="#/phrases">Key Maker</a></p>
    </div>

    


    <div class="span6">
      <form ng-submit="encrypt()" class="form plain">
        <h2>Plain Text</h2>
        <div class="control-group">
          <div class="controls">
            <textarea id="messageInput" ng-model="message" placeholder=""></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary" ng-disabled="message == ''">Encrypt text <i class="icon-arrow-right icon-white"></i></button>
          </div>
        </div>
      </form>
    </div>

    <div class="span6">
      <form ng-submit="decrypt()" class="form cypher">
        <h2>Cypher</h2>
        <div class="control-group">
          <div class="controls">
            <textarea id="cypherInput" ng-model="cypher" placeholder=""></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary" ng-disabled="cypher == ''"><i class="icon-arrow-left icon-white"></i> Decrypt cypher</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>