<div id="top">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Cryptography Project</h1>
        <p>Explorations into Cryptography.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" id="teasers">
    <div class="span4">
      <h2>Encrypt &amp; Decrypt</h2>
      <p>Encrypt any text right in your browser. Nothing is ever sent to a server.</p>
      <p>Utilizes the Advanced Encryption Standard (AES). Since all source code is open you can check for your self what happens with your data. No funny business! Guaranteed.</p>
      <p><a href="#/aes" class="btn btn-success">Encrypt and Decrypt <i class="icon-arrow-right icon-white"></i></a></p>
    </div>
    <div class="span4">
      <h2>Key Maker</h2>
      <p>Typical passwords are hard to remember yet easy to crack. Why not use a somewhat longer but easy to remember sequence of random words instead?</p>
      <p>The Key Maker can make keys of any desired length using common English words.</p>
      <p><a href="#/phrases" class="btn btn-success">Key Maker <i class="icon-arrow-right icon-white"></i></a></p>
    </div>
    <div class="span4">
      <h2>Memorize</h2>
      <p>coming soon</p>
    </div>
  </div>
</div>