<div id="top">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Memorize</h1>
        <p>How to easily remember a list of words (or anything).</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <p>Security is most likely compromised by ineffective passwords (e.g. 1234) or by passwords being stored insecurely (post it notes, anybody?). So the best way to improve security is to: a) Choose <a href="#/phrases">better passwords</a> and b) Not write it down.</p>
      <p>Using the Method of loci also known as Memory Palace it is surprisingly easy to memorize things.</p>
      <p>It relies on our ability to quickly memorize and reliably recall spacial information.</p>
      <p>Try it for yourself:</p>
      <p>Visualize a familiar place (e.g. your home)<p>
      <p>It should be easy for you to imagine yourself walking through you home starting at the front door.</p>


    </div>
  </div>
</div>