@import "../lib/bootstrap/less/bootstrap";
//@import "mixins";
@iconSpritePath: "../lib/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../lib/bootstrap/img/glyphicons-halflings-white.png";



body {
  margin-top:60px;
}


form {
  &.plain {
    background-color:green;
  }
  &.cypher {
    background-color:yellow;
  }
}


p.status {
  &.success {
    color:green;
  }
  &.error {
    color:red;
    font-weight:bold;
  }
}