@import "../lib/bootstrap/less/bootstrap";
//@import "mixins";
@iconSpritePath: "../lib/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../lib/bootstrap/img/glyphicons-halflings-white.png";



body {
  margin-top:60px;
}


form {
  &.plain {
    background-color:green;
  }
  &.cypher {
    background-color:yellow;
  }
  textarea {
    font-size:1.1em;
    width:95%;
    height:8em;
  }
}

#passPhrase {
  font-size:1.4em;
  width:100%;
  height:2.5em;
  line-height:1.3em;
  &.large {
    height:12em;
  }
}

h2 {
  font-size:1.5em;
}

p {
  &.large {
    font-size:1.5em;
    color:#999;
    line-height:1.5em;
  }
}


p.status {
  font-weight:bold;
  font-size:1.1em;
  padding:5px 10px;
  background-color:#FFC;
  &.success {
    color:green;
  }
  &.error {
    color:red;
  }
}