<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h1>About</h1>
      <p>The why and how.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p><a href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard" target="new">Advanced Encryption Standard (AES)</a></p>
    <p>Using <a href="http://code.google.com/p/crypto-js/" target="new">CryptoJS</a></p>
    <p>Using words lists from <a href="http://wordlist.sourceforge.net/" target="new">Kevin's Word List Page</a></p>
  </div>
</div>