<div class="row">
  <div class="span12">
    <h1>Encrypt and decrypt text</h1>
    <p class="status {{status}}" ng-show="feedBack != ''">{{feedBack}}</p>
  </div>


  <div class="span10">
    <div class="well">
    <h2>Pass phrase (or Key)</h2>
        <label class="control-label" for="passPhraseInput">Enter a custom pass phrase or <a ng-click="newPassPhrase();">generate random phrase</a></label>
        <textarea class="input-xlarge" id="passPhraseInput" ng-model="passphrase" placeholder=""></textarea>
    </div>
  </div>

  <div class="span5">
    <form ng-submit="encrypt()" class="form well plain">
      <h2>Plain text</h2>
      <div class="control-group">
        <label class="control-label" for="messageInput">Enter your text</label>
        <div class="controls">
          <textarea class="input-xlarge" id="messageInput" ng-model="message" placeholder=""></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary" ng-disabled="message == ''">Encrypt text <i class="icon-arrow-right icon-white"></i></button>
        </div>
      </div>
    </form>
  </div>

  <div class="span5">
    <form ng-submit="decrypt()" class="form well cypher">
      <h2>Encrypted text</h2>
      <div class="control-group">
        <label class="control-label" for="cypherInput">Enter a cypher</label>
        <div class="controls">
          <textarea class="input-xlarge" id="cypherInput" ng-model="cypher" placeholder=""></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary" ng-disabled="cypher == ''"><i class="icon-arrow-left icon-white"></i> Decrypt cypher</button>
        </div>
      </div>
    </form>
  </div>

  <div class="span12">
    <a class="btn btn-inverse" ng-click="clear();"  ng-hide="passphrase == '' && message == '' && passphrase == ''"><i class="icon-refresh icon-white"></i> Clear all Fields</a>
  </div>

</div>