<h1>Encrypt a text</h1>
<p>{{status}}</p>
<form ng-submit="encrypt()" class="form well" ng-show="cypher == ''">
  <div class="control-group">
    <label class="control-label" for="messageInput">Enter your secret text</label>
    <div class="controls">
      <textarea class="input-xlarge" id="messageInput" ng-model="message" placeholder=""></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="passPhraseInput">Pick a pass phrase</label>
    <div class="controls">
      <input class="input-xlarge" id="passPhraseInput" ng-model="passphrase" placeholder="" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary" ng-disabled="passphrase == '' || message == ''"><i class="icon-ok icon-white"></i> Encrypt text</button>
      <button class="btn" ng-click="clear();" ng-hide="passphrase == '' && message == ''"><i class="icon-refresh"></i> Clear Form</button>
    </div>
  </div>
</form>
<div ng-show="cypher != ''">
  <p>Cypher: {{cypherString}}</p>
  <p>Pass phrase: {{passphrase}}</p>
  <p><a class="btn btn-inverse" ng-click="clear();"><i class="icon-refresh icon-white"></i> Clear</a></p>
</div>