<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h1>Welcome</h1>
      <p>Explorations into Cryptology with Javascript only.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span3">
    <h2>Encrypt &amp; Decrypt</h2>
    <p>yep yep yep</p>
  </div>
  <div class="span3">
    <h2>Phrase Generator</h2>
    <p>yep yep yep</p>
  </div>
  <div class="span3">
    <h2>Word encoder</h2>
    <p>coming soon</p>
  </div>
  <div class="span3">
    <h2>Why?</h2>
    <p>For fun and larning. Learn more...</p>
  </div>
</div>
