<h1>Generate random phrases</h1>
<textarea>{{words}}</textarea>

<form ng-submit="getRandomWords()" class="form well">
  <div class="control-group">
    <label class="control-label" for="wordCount">How many words</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="wordCount" ng-model="wordCount" placeholder="" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Get Words</button>
    </div>
  </div>
</form>