
<div ng-show="interfaceMode == 'encrypt'">
  <h2>Encrypt a Message</h2>
  <p>{{status}}</p>
  <form ng-submit="encrypt()" class="form well" >
    <div class="control-group">
      <label class="control-label" for="messageInput">Secret Message</label>
      <div class="controls">
        <textarea class="input-xlarge" id="messageInput" ng-model="message" placeholder=""></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="passPhraseInput">Pass phrase</label>
      <div class="controls">
        <input class="input-xlarge" id="passPhraseInput" ng-model="passphrase" placeholder="" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary" ng-disabled="passphrase == '' || message == ''"><i class="icon-ok icon-white"></i> Encrypt Message</button>
        <button class="btn btn-inverse" ng-click="clear();" ng-disabled="passphrase == '' && message == ''"><i class="icon-refresh icon-white"></i> Clear Form</button>
      </div>
    </div>
  </form>
</div>


<div ng-show="interfaceMode == 'decrypt'">
  <h2>Decrypt a Cypher</h2>
  <p>{{status}}</p>
  <form ng-submit="decrypt()" class="form well">
    <div class="control-group">
      <label class="control-label" for="cypherInput">Cypher</label>
      <div class="controls">
        <textarea class="input-xlarge" id="cypherInput" ng-model="cypher" placeholder=""></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="passPhraseInput">Pass phrase</label>
      <div class="controls">
        <input class="input-xlarge" id="passPhraseInput" ng-model="passphrase" placeholder="" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary" ng-disabled="passphrase == '' || cypher == ''"><i class="icon-ok icon-white"></i> Decrypt Cypher</button>
        <button class="btn btn-inverse" ng-click="clear();" ng-disabled="passphrase == '' && cypher == ''"><i class="icon-refresh icon-white"></i> Clear Form</button>
      </div>
    </div>
  </form>
</div>
